#coffieCup {
    background-color: #a52a2a;
    /* margin: 30px; */
    height: 0px;
    width: 70px;
    position:absolute;
    bottom: 0;
    transition: height 0.25s;
}

#cup {
    border: 3px solid;
    height: 100px;
    width: 70px;
    margin: 30px;
    border-color: black;
    position:relative;
    background-color: #ffe4c4;
}

#info {
    border: 3px solid;
    padding: 10px 10px;
    text-align: center;
    top: 170px;
    left: 200px;
    font-size: x-small;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.przycisk {
    background-color: #6e79aa;
    border: 2px solid #6e79aa;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  .przycisk:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #6e79aa;
  }
